<div *ngIf="address">
  <h3>Endereço do Representante</h3>
  <p><strong>Rua:</strong> {{ address.logradouro }}</p>
  <p><strong>Bairro:</strong> {{ address.bairro }}</p>
  <p><strong>Cidade:</strong> {{ address.localidade }}</p>
  <p><strong>Estado:</strong> {{ address.uf }}</p>
  <p><strong>CEP:</strong> {{ address.cep }}</p>
  <p><strong>Complemento:</strong> {{ address.complemento }}</p>
</div>

<!-- Aqui você pode adicionar mais informações sobre o representante ou outros detalhes relevantes -->
