.fromtherm-container {
    background-color: #000; // Fundo preto
    color: #B0B0B0; // Cinza claro
    text-align: center;
    padding: 20px;

    // Títulos
    h2 {
        color: #007BFF; // Azul
        border-bottom: 2px solid #FF0000; // Vermelho
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%; // Garante que as imagens sejam responsivas
        height: auto;
        margin-bottom: 15px;
        border: 2px solid #007BFF;  // Borda azul
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave
        transition: transform 0.3s; // Transição suave ao mudar a imagem

        &:hover {
            transform: scale(1.05); // Zoom ao passar o mouse
        }
    }
  
    a {
        color: #007BFF; // Links em azul
        &:hover {
            text-decoration: underline;
            color: #FF0000; // Vermelho ao passar o mouse
        }
    }

    .timeline-point {
        background-color: #282828;  // Cinza escuro
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave

        .year {
            color: #FF0000;  // Vermelho
            font-weight: bold;
        }
    }

    .owners-section {
        display: flex;  // Alinha horizontalmente
        justify-content: center;  // Alinha ao centro horizontalmente
        align-items: center; // Alinha ao centro verticalmente
        flex-wrap: wrap;  // Permite que os itens se envolvam em telas menores
        max-width: 500px; // Largura máxima da seção dos sócios
        margin: 0 auto; // Centraliza a seção
    
        .owner {
            margin: 0 20px;  // Espaçamento entre os sócios
        }
    
    
        .owner-image-container {
            width: 100px;  // Define um tamanho inicial para a imagem do sócio
            height: 100px;
            border-radius: 50%;  // Torna a imagem circular
            overflow: hidden;  // Mantém a imagem contida no contêiner
            transition: transform 0.5s;  // Transição suave ao passar o mouse
            margin-bottom: 10px;  // Espaçamento entre a imagem e o nome
        
            &:hover {
                transform: scale(2.5);  // Aumenta o zoom da imagem ao passar o mouse
            }
        
            img {
                width: 100%;  // Garante que a imagem se ajuste ao tamanho do contêiner
                height: auto;
                transition: transform 0.5s;  // Transição suave ao passar o mouse
            }
        }
    }
    

    // Botão de alternância da linha do tempo
    button.btn {
        background-color: #007BFF; // Azul
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        i.bi {
            margin-right: 5px; // Espaçamento entre o ícone e o texto
        }

        &:hover {
            background-color: #0056b3; // Azul escuro ao passar o mouse
        }
    }

    // Seção de informação sobre o crescimento
    .growth-info-section {
        background-color: #282828;  // Cinza escuro
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave
    }

    // Para telas menores (exemplo: mobile)
    @media (max-width: 768px) {
        .fromtherm-image-section, .fromtherm-text-section, .timeline-section, .owners-section, .map-section, .growth-chart-section {
            margin-bottom: 20px;
        }
    }
}
