.fromtherm-container {
    background-color: #062443; 
    color: #B0B0B0; 
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #007BFF;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    img {
        max-width: 100%; 
        height: auto;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px rgba(0, 12, 135, 0.1); 
        transition: transform 0.3s; 
        &:hover {
            transform: scale(1.05); 
        }
    }
    
    a {
        color: #007BFF; 
        &:hover {
            text-decoration: underline;
            color: #FA2B32; 
        }
    }
    
    .timeline-point {
        background-color: #062443;  
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        .year {
            color: #FA2B32;  
            font-weight: bold;
        }
    }
    
    .owners-section {
        display: flex;  
        justify-content: center;  
        align-items: flex-start; 
        flex-direction: row;
        flex-wrap: wrap;  
        max-width: 500px; 
        margin: 0 auto; 
        
        .owner {
            margin: 0 20px;  
        }
        .owner-image-container {
            width: 100px;  
            height: 100px;
            border-radius: 50%;  
            overflow: hidden;  
            transition: transform 0.5s;  
            margin-bottom: 10px;  
            &:hover {
                transform: scale(1.1); 
            }
            img {
                width: 100%;  
                height: auto;
                transition: transform 0.5s;  
            }
        }
    }
    
    // Grupo de estilos dos botões
    /* ----------------------------------- BOTÕES ----------------------------------- */
    button.btn {
        background-color: #007BFF; 
        color: #fff;
        padding: 4px 8px;
        border: none;
        border-radius: 5px;
        margin: 8px 0;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        display: flex;
        align-items: left;
        font-size: 0.8rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        i.bi {
            margin-right: 4px;
        }
        &:hover {
            background-color: #0056b3; 
            transform: scale(1.05);
        }
    }
    /* ------------------------------------------------------------------------------ */
    
    .expanded {
        display: block;
    }
    
    .minimized {
        max-height: 60px; 
        overflow: hidden;
        button.btn {
            display: block;
        }
    }
    
    @media (max-width: 768px) {
        padding: 10px;
        .fromtherm-image-section, .fromtherm-text-section, .timeline-section, .owners-section, .map-section, .growth-chart-section {
            margin-bottom: 20px;
        }
        h2 {
            font-size: 1.4rem; 
        }
        p, span {
            font-size: 0.9rem;
        }
        .timeline-point {
            font-size: 0.85rem;
        }
        
        .owners-section {
            display: flex;  
            justify-content: center;  
            align-items: flex-start;  
            flex-wrap: wrap;  
            max-width: 500px; 
            margin: 0 auto; 
            .owner {
                margin: 0 10px;
            }
            .owner-image-container {
                width: 80px;
                height: 80px;
            }
        }
        button.btn {
            padding: 1px 2px;
            font-size: 0.4rem;
        }
    }
    
    @media (max-width: 480px) {
        h2 {
            font-size: 1.2rem;
        }
        .owners-section {
            .owner {
                margin: 0 5px;
            }
            .owner-image-container {
                width: 60px;
                height: 60px;
            }
        }
        button.btn {
            padding: 2px 5px;
            font-size: 0.65rem;
        }
    }
}
