<footer class="footer-container">
    <!-- Logo ou nome da empresa -->
    <div class="brand">
        <h3>Fromtherm</h3>
    </div>

    <!-- Informações de contato -->
    <div class="contact-info">
        <p>Endereço: Rua Exemplo, 123, Cidade, UF</p>
        <p>Telefone: (11) 1234-5678</p>
        <p>Email: contato@fromtherm.com</p>
    </div>

    <!-- Redes sociais -->
    <div class="social-links">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    </div>
    

    <!-- Créditos no rodapé -->
    <div class="credits">
        <p>© 2023 Fromtherm. Todos os direitos reservados.</p>
    </div>
</footer>
