// Arquivo: navbar.component.scss

// Defina o fundo do navbar como cinza escuro
.navbar {
    background-color: #131313; // Cinza escuro
    color: red; // Letras vermelhas

    // Alinhar itens ao centro usando flex
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        // Quando o tamanho da tela for menor (mobile), empilhe os itens
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    // Quando o mouse passar sobre os links, eles se tornarão azul marinho
    .nav-link {
        color: rgb(245, 31, 31); // Letras vermelhas
        cursor: pointer; // Adicionado para mostrar o ícone da mãozinha
        &:hover {
            color: #001f3f; // Azul marinho ao passar o mouse
        }
    }

    // Branding (caso você queira estilizar o nome da marca também)
    .navbar-brand {
        color: red; // Letras vermelhas
        cursor: pointer; // Adicionado para mostrar o ícone da mãozinha
        &:hover {
            color: #001f3f; // Azul marinho ao passar o mouse
        }
    }
}
