.navbar {
    background-color: #131313;
    color: red;

    .navbar-brand {
        display: flex;
        align-items: center;
        max-width: 1005;

        img.navbar-logo {
            // width: 150px; // Ajuste o tamanho conforme necessário
            // height: auto;
            height: 3rem;
            margin-right: 10px; // Espaço entre o logo e outros elementos, se houver
        }
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .nav-link {
        color: #062443;
        cursor: pointer;

        &:hover {
            color: #001f3f;
        }
    }
}
