<div class="testimonial-carousel">
    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div *ngFor="let testimonial of testimonials; let i = index" 
                 [ngClass]="{ 'carousel-item': true, 'active': i === 0 }">
                <h4>{{ testimonial.name }}</h4>
                <p>{{ testimonial.message }}</p>
                <small>{{ testimonial.position }}</small>
                <div class="balloon-tail"></div> <!-- Adicionado -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
