.testimonial-carousel {
    position: relative;
    background-color: transparent; // Removendo a cor de fundo
    padding: 20px;
    max-width: 700px;
    margin: 40px auto;
    color: #b0b0b0;
   

    .carousel-inner {
        position: relative;
        border-radius: 25px; // Aumentando o raio para torná-lo mais arredondado
        padding: 20px;
        background-color: #1E1E1E;
        text-align: center;

        .balloon-tail {
            position: absolute;
            width: 30px;
            height: 15px;
            background-color: #1E1E1E;
            z-index: 1; // Colocando atrás do conteúdo principal
            bottom: -15px; // Ajustando a posição da cauda
            left: 50%; // Centralizando a cauda
            transform: translateX(-50%); // Usando transform para centralizar
            clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        }
    }

    h4 {
        color: #fff;
        font-size: 1.4rem;
        margin-bottom: 15px;
        border-bottom: 2px solid #b0b0b0;
        padding-bottom: 10px;
    }

    p {
        font-style: italic;
        font-size: 1.1rem;
        margin-bottom: 15px;
        line-height: 1.5;
        color: rgb(245, 31, 31);
    }

    small {
        font-size: 0.95rem;
        color: #b0b0b0;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        z-index: 10;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        filter: invert(1);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    @media (max-width: 768px) {
        max-width: 90%;
        padding: 15px;

        h4 {
            font-size: 1.1rem;
        }

        p {
            font-size: 0.95rem;
        }

        small {
            font-size: 0.85rem;
        }
    }
}
